// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

// Define fonts for body and headers
$body-font: '', "cursive";
$headers-font: 'myfont', "cursive";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";


@font-face {
  font-family: 'myfont'; /* フォント名 */
  /* フォーマットごとにパスを指定 */
  src: asset_url('PPPangramSansRounded-ExtraboldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'lightfont'; /* フォント名 */
  /* フォーマットごとにパスを指定 */
  src: asset_url('Fontspring-DEMO-neogroteskess-ultralightit.otf') format('opentype');
}

@font-face {
  font-family: 'italicfont'; /* フォント名 */
  /* フォーマットごとにパスを指定 */
  src: asset_url('Fontspring-DEMO-neogroteskpro-regularit.otf') format('opentype');
}

@font-face {
  font-family: 'h-font'; /* フォント名 */
  /* フォーマットごとにパスを指定 */
  src: asset_url('PPPangramSansRounded-SlimMediumReclined.otf') format('opentype');
}

@font-face {
  font-family: 'q-font'; /* フォント名 */
  /* フォーマットごとにパスを指定 */
  src: asset_url('Qegor.ttf') format('truetype');
}
