.background-home{
  position: relative;
  background-color: #201133;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.background-home::before{
  content: '';
  display: block;
}

.message{
  // display: flex;
  // justify-content: center;
    // align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0; 
  height: 70vh;
  color: #fff;
  p{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'q-font';
    flex-direction: column;
  }

  a{
    color: #fff;
  }
  h1{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'q-font';
    margin-left: 40px;
    font-size: 300px;
    @media screen and (max-width: 767px) {
      margin-top: 10px;
      font-size: 140px;
      margin-left: 40px;
    }
  }
}

