 <% if user_signed_in? %>
<div class="welcome-user"><h5>Welcome, <%= current_user.first_name %></h5></div>
<% end %>

<div class="action-container d-flex">
<div class="part-1">
<div class="icon"> 
<i class="fas fa-search"></i>
</div>
<h5><%= link_to "Search Movies",  movies_path %></h5>
</div>
<div class="part-2">
<div class="icon"> 
<i class="fas fa-film"></i>
</div>
<h5><%= link_to "All Movie Lists", lists_path %></h5>
</div>
<div class="part-3">
<div class="icon"> 
<i class="fas fa-file-video"></i>
</div>
<h5><%= link_to "New List", new_list_path %></h5>
</div>
</div>

