.navbar-lewagon {
  justify-content: space-between;
  background-color: #201133;
  transition: 0.5s background-color ease;
}

.navbar-brand{
 color: white !important;
}

.navbar-lewagon-white {
  background-color: #201133;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar{
  margin-bottom: 0 !important;
}

.nav-item {
  a{
    margin-right: 15px;
    text-decoration: none;
    color: white;
  }
}


