.home-banner {

  background-image: asset_url("redcurtain.jpg");
  background-position: top center;
  background-size: cover;
  min-height: 50vh;
  color: #eee;
  padding-top: 17vh;
  margin:0;
}

.form-banner {
  min-height: 10vh;
  color: #eee;
  text-align: center;
  margin:0;
}

.banner-text{
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}