
.card-show-title{
  margin-top:50px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.card-category{
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 50vh;
}


.one{
  background-image: asset_url('movie.jpeg');
  object-fit: cover;
}

.list-title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}

.two{
  background-color: white;
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
.three{
  background-color: white;
}


.delete-contaner{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 50px;
}
.description{
  margin: 30px;
  margin-top: 200px;
}

.container-comment{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.five{
  background-color: white;
  background-position: center;
}

.new-movie-form{
  margin-bottom: 50px;
}

// .movie-container{
//   display:flex;
//   @media screen and (max-width: 767px) {
//     display: flex;
//     flex-direction: column;
//   }
// }

.review-container{
  display: flex;
  flex-direction: column;
}


.wrapper{
  margin-bottom: 100px;
}


.new-movie-form{
  color: white;
}

i{
  color: black;
  margin-right: 10px;
}


.part-a{
background-color: white;
}

.part-b{
  background-color: rgba(74, 244, 213, 0.324);
  h3{
    color: black;
  }
}

.cards-movie{
  margin-bottom: 30px;
}

.list-delete{
margin-left: 240px;
}

.movie-form{
  margin: 20px;
}

h3{
  margin-top: 30px;
}



.flipbook {
  height: 100%;
  transition: margin-left 0.25s ease-out;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.flipbook .page {
  height: 100%;
  width: 100%;
}
.flipbook .page img {
  max-width: 100%;
  height: 100%;
}