
.card-show-title{
  margin-top:50px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.card-category{
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 50vh;
}

.card-review{
  margin-bottom: 50px;
}

.new-movie-form{
  margin-bottom: 50px;
}

.movie-container{
  display:flex;
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}

.review-container{
  display: flex;
  flex-direction: column;
}

.movie-container{
  display: flex;
  background-color: white;
  margin-bottom: 50px;
  img{
    height: 100%;
  }

  .wraped-description{
    padding: 40px;
   margin-top: 10%;
   h5{
     margin-bottom: 20px;
   }
  }
}

.review-container{
  margin: 30px;
}

h6{
  margin-left: 5px;
  padding-bottom: 10px;
}

h3{
  color: white;
}

.new-movie-form{
  color: white;
}

.comment-container{
  display: flex;
  margin-top: 30px;
}

i{
  color: black;
  margin-right: 10px;
}


.part-a{
background-color: white;
}

.part-b{
  background-color: rgba(74, 244, 213, 0.324);
  h3{
    color: black;
  }
}

.list-delete{
margin-left: 240px;
}

.movie-form{
  margin: 20px;
}

h3{
  margin-top: 30px;
}

