
.card-show-title{
  margin-top:50px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.card-category{
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 50vh;
  object-fit: cover;
}



.list-title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}




.delete-contaner{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 50px;
}
.description{
  margin: 30px;
  margin-top: 200px;
  p {
    margin-bottom: 50px;
  }
}

.container-comment{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: asset_url('wood.jpeg');
  background-size: 100%;
  border-radius: 4px;
  margin-bottom: 30px;
  width: 100%;

  @media screen and (max-width: 767px) {
  width: 100%;
  background-image: asset_url('wood.jpeg');
  border-radius: 4px;
  }
 
  h6{
    margin:20px;
  }
}


.new-movie-form{
  margin-bottom: 50px;
}


.review-container{
  display: flex;
  flex-direction: column;
}


.wrapper{
  margin-bottom: 100px;
  
}


.new-movie-form{
  color: white;
}

i{
  color: black;
  margin-right: 10px;
}


.part-a{
background-color: white;
}

.part-b{
  background-color: rgba(74, 244, 213, 0.324);
  h3{
    color: black;
  }
}

.cards-movie{
  margin-bottom: 30px;
}

.list-delete{
margin-left: 240px;
}

.movie-form{
  margin: 20px;
}

h3{
  margin-top: 30px;
}


.show-container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
    width: 100%;
    height: auto;
  @media screen and (max-width: 767px) {
    display: block;
    width: 100%;
    height: auto;
    filter: drop-shadow(10px 10px 5px rgb(245, 242, 242));
    
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #c1cbcd79;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 65%;
  @media screen and (max-width: 767px) {
    height: 100%;
  }
}

.text-box {
  color: rgb(23, 21, 21);
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

  @media screen and (max-width: 767px) {
    color: rgb(23, 21, 21);
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.row{
  margin-top: 30px;
}

.flex-container{

  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}