.form-container{
  color: white;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  .btn{
    color: white;
    margin-top: 20px;
  }

  .form-control{
    width: 500px !important;
    margin-bottom: 10px;
   }

   @media screen and (max-width: 767px) {
    .form-control{
      width: 300px !important;
     }
  }

}

.bookmark-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
