// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-image: asset_url("1204651.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.nav-link{
  color: #000000;
}

.my-box-light{
margin-top: 50px;
}

h2{
  color: pink;
  font-family: 'myfont';
  font-size: 80px;
  margin-top: 0;
  margin-right: 30px;


}

p{
  color: pink;
  font-family: 'lightfont'; 
  font-size: 20px;
  margin-left: 30px;
}

.carouselExampleIndicators{
  margin-bottom: 10px;
}

.hb-container{
  h1{
    font-family: q-font;
  }
}

.list-container{
margin-left: 30px;
margin-bottom: 20px;
h3{
  color: pink;
  font-family: 'myfont';
  font-size: 40px;
  margin-top: 0;
  margin-right: 30px;
}
@media screen and (max-width: 767px) {
  margin-top: 30px;
}
}





.card{
  margin-bottom: 30px;
  width: 400px;
  height: 300px;

  img{
    height: 300px;
    width: 400px;
    object-fit: cover;
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .2s ease-in-out;  
  }
  img:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.03);

    }
}


.card-title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.white-text{
  color: white;
  font-family: q-font;
  text-decoration: none;
}

.white-text:hover{
  color: white;
}


p{
  justify-content: flex-end;
  margin-bottom: 5px;
}

.fa-edit{
  color: transparent;
}
.fa-trash-alt{
  color: transparent;
}

.fa-edit:hover{
  color: dimgrey;
}

.fa-trash-alt:hover{
  color: dimgrey;
}

.hb-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.card-img-overlay{
  margin-top: 90px;
}


.item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer{
  background:rgb(255, 255, 255);
  h1{
    font-family: myfont;
    font-size: 100px;
    margin-top: 100px;
    margin-bottom: 0px;
    @media screen and (max-width: 767px) {
      font-family: myfont;
    font-size: 36px;
    margin-top: 100px;
    margin-bottom: 0px;
    }
  }
}

