// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background: linear-gradient(to bottom, #000000,#000000, #000000,  #955fcb,#ca3ad7,);   
}

.neon{
  @media screen and (max-width: 767px) {
    margin-right: 50px;
    width:430px;
    height:250px;
  }
}

.span{
  display: flex;
  justify-content: center;
  align-items: center;
}


.list-container{
  margin-top:70px;
  h1{
    margin-left:40px;
    color: white;
  }
}

.fav-container{
  margin-top:10px;
  h1{
    margin-left:40px;
    color: white;
  }
}


.card{
  height: 200px;
  width: 400px;
  margin-right:35px;
  margin-left:45px;
  margin-bottom: 30px;

  img{
    height: 100%;
    object-fit: cover;
  }
}

.owl-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: larger;
}

.owl-prev{
  margin-right: 30px;
}

.owl-next{
  margin-left: 30px;
}

.card-title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.white-text{
  color: white;
}

.white-text:hover{
  color: white;
}

p{
  justify-content: flex-end;
  margin-bottom: 5px;
}

.fa-edit{
  color: transparent;
}
.fa-trash-alt{
  color: transparent;
}

.fa-edit:hover{
  color: dimgrey;
}

.fa-trash-alt:hover{
  color: dimgrey;
}

.blink {
	-webkit-animation: blink 1s ease-in-out infinite alternate;
	animation: blink 1s ease-in-out infinite alternate;
}
@-webkit-keyframes blink {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes blink {
	0% {opacity: 0;}
	100% {opacity: 1;}
}